<nav class="navbar navbar-default" style="background-color:lightseagreen">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:snow; font-weight: bold">PipelineForge</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 2em; margin-left: -0.5em; color: black">Neha Jindal <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li data-toggle="modal" data-target="#permissionsModal"><a href="#">Configure</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Manage Jenkins</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>
        <a class="navbar-brand navbar-right" href="#">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </a>
    </div>
</nav>

<app-permissions-modal [jenkinsArray]="jenkinsArray"></app-permissions-modal>
